<div class="announcement">
    <div class="overlay">
        <div class="d-flex justify-content-end">
            <button mat-dialog-close class="close-btn">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
          <div class="dialog-content d-flex flex-column justify-content-end">
            <h2 mat-dialog-title>Məktəblərdə maarifləndirmə dəvam edir</h2>
            <mat-dialog-content class="row d-flex justify-content-start">
              <div class="col-lg-9 flex-fill p-0">
                <p class="p-0 m-0">
                  Məktəblərdə fövqalədə hallarla bağlı maarifləndirmə tədbirlərimiz
                  davam edir. Tələbələrimizə və tədris heyətinə yönlənmiş
                  tədbirlərimizlə təhlükəsizlik və məlumatlandırma sahəsində
                  fəaliyyətimizi gücləndiririk.
                </p>
              </div>
              <div class="col-lg-3 d-flex align-items-end flex-fill text-center p-0 m-0">
                <p-button label="Keçid et >" class="w-100 px-0"/>
              </div>
              <div></div>
            </mat-dialog-content>
          </div>
    </div>

</div>
