<div class="contact row content m-0">
  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <h2 class="pb-4">Bizimlə əlaqə</h2>
    <p><i class="fa-solid fa-phone pe-2"></i> +994 12 512 00 61</p>
    <p><i class="fa-solid fa-envelope pe-2"></i> info&#64;fhn.gov.az</p>
    <p>
      <i class="fa-solid fa-location-dot pe-2"></i> AZ1073, Bakı şəhəri,
      M.Müşfiq küçəsi, 501-ci məhəllə
    </p>

    <p>Bizi izləyin</p>
    <ul class="d-flex justify-content-start nav-item p-0 m-0">
      <li>
        <a
          href="#"
          class="nav-link py-3 ps-0 m-0"
          aria-current="page"
          title=""
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          data-bs-original-title="Home"
        >
          <div class="sosial-icon">
            <img src="../../../assets/images/facebookBlck.svg" alt="" />
          </div>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="nav-link py-3"
          title=""
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          data-bs-original-title="Dashboard"
        >
          <div class="sosial-icon">
            <img src="../../../assets/images/twitterBlck.svg" alt="" />
          </div>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="nav-link py-3"
          title=""
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          data-bs-original-title="Orders"
        >
          <div class="sosial-icon">
            <img src="../../../assets/images/linkedinBlck.svg" alt="" />
          </div>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="nav-link py-3"
          title=""
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          data-bs-original-title="Products"
        >
          <div class="sosial-icon">
            <img src="../../../assets/images/instagramBlck.svg" alt="" />
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex flex-column gap-3">
    <p class="title-form">Rəy və təkliflər</p>
    <input type="text" pInputText placeholder="Ad, soyad" class="w-100" />
    <div class="d-flex gap-2">
      <input
        type="text"
        pInputText
        placeholder="Elektron-poçt ünvanı"
        class="flex-fill"
      />
      <input
        type="text"
        pInputText
        placeholder="Əlaqə nömrəsi"
        class="flex-fill"
      />
    </div>
    <textarea rows="5" cols="30" pInputTextarea placeholder="Məzmun"></textarea>
    <div class="d-flex justify-content-start pb-5">
      <p-button label="Göndər" />
    </div>
  </div>
</div>
<div class="p-0 m-0">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3040.09120617925!2d49.81361317582454!3d40.362501971448395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307dd043b476f1%3A0x1df865a3b7859a01!2zRsO2dnHJmWxhZMmZIEhhbGxhciBOYXppcmxpeWk!5e0!3m2!1sen!2saz!4v1719232158023!5m2!1sen!2saz"
    width="100%"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
