<div
  class="container-fluid about d-flex flex-column align-items-center justify-content-center p-0 m-0"
>
  <app-about-carousel></app-about-carousel>
  <div class="col-lg-8 col-md-11 col-sm-12 about-text content">
    <h1 class="text-center">Haqqımızda</h1>
    <p class="pt-4 pb-5">
      Müasir və qabaqcıl tibbi avadanlıq və peşəkar həkimlərin və tibbi
      personalın böyük təcrübəsi ilə birlikdə ən geniş diaqnostik və tibbi
      yardım göstərmək imkanına malik olan xəstəxanamızda tibbi xidmətin
      keyfiyyətini artırmaq məqsədilə bir çox tədbirlər görülməkdədir.
      Müalicə-diaqnostika xidməti xəstəxananın ümumi iş fəaliyətinə aiddir.
      Xəstəxanamızda ən mürəkkəb cərrahi müdaxilələri həyata keçirmək üçün lazım
      olan bütün şərait var, Xəstəxananın əsas prinsipi müraciət edən pasientin
      ağırlıq dərəcəsinin differensasiya edərək, göstərişə, müayinə və müalicə
      alqoritminə uyğun düzgün istiqamətdə yönləndirilməsidir. Xəstəxanamızın
      bütün şöbələri, ixtisaslaşmış tibb personalı və ən müasir avadanlıqlarla,
      peşəkər tibb yardım göstərmək üçün 7/24 sizin xidmətinizdədir.
    </p>
  </div>
</div>
