@import "../../../styles/variables.scss";
$tl: 0.6s;
.content {
  padding: 0px 12vw;
}
.wh-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
  background-color: white;
  .navbar {
    width: 100%;
    font-family: "Inter", sans-serif;
    .navbar-nav .nav-item a {
      color: black !important;
      font-family: "Inter", sans-serif;
      font-size: 14px;
      &:hover {
        transition: font-weight 300ms;
      }
    }
    .navbar-nav > li > .dropdown-menu a:active {
      background-color: $main-color;
      color: white !important;
    }
  }
  .white-logo {
    opacity: 0;
    position: absolute;
    transition: opacity 300ms ease;
  }
  .navbar-brand {
    position: relative;
    width: 80px;
    height: 80px;
    // margin-right: 200px;
  }
  .router-link-active {
    font-weight: bold;
  }
  &.navbar-inverse {
    background-color: $main-color !important;
    .navbar {
      .navbar-nav .nav-item a {
        color: white !important;
      }
      .navbar-nav > li > .dropdown-menu a {
        color: black !important;
      }
      .navbar-nav > li > .dropdown-menu a:active {
        color: white !important;
      }
    }
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .custom-toggler {
    border: none;
    .navbar-toggler-icon {
      filter: invert(140%) sepia(54%) saturate(969%) hue-rotate(510deg);
    }
  }
  .navbar-nav > li > .dropdown-menu .dropdown-item {
    color: $title-color !important;
  }
  //Search start
  .search-container {
    width: max-content;
  }
  .search-box {
    color: $title-color !important;
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    z-index: 20;
  }
  .search-box + label .search-icon {
    color: $title-color !important;
  }
  .search-box:hover {
    color: $title-color !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .search-box:hover + label .search-icon {
    color: $title-color !important;
  }
  .search-box:focus,
  .search-icon span:focus {
    transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s,
      background 0.6s;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 300px;
    border-radius: auto;
    background: rgb(235, 235, 235);
    color: black;
  }
  .search-box:focus + label .search-icon {
    color: black;
  }
  .search-box:not(:focus) {
    text-indent: -5000px;
  }
  #search-submit {
    width: 0px;
    position: relative;
    left: -5000px;
    border: 1px solid red;
  }
  .search-box label {
    width: max-content;
  }
  .search-icon {
    font-size: 15px;
    position: relative;
    left: -28px;
    color: $title-color !important;
    cursor: pointer;
    z-index: 10;
  }
  //Search end
}

/* Custom media query for navbar toggler at 1200px */
@media (max-width: 1257px) {
  .content {
    padding: 5px 5vw;
  }
}
@media (max-width: 1180px) {
  .content {
    padding: 1px 1vw;
  }
}

@media (max-width: 1060px) {
  .navbar-expand-lg {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
  }
  .navbar-expand-lg .navbar-toggler {
    display: block;
  }
  .navbar-expand-lg .navbar-collapse {
    display: none !important;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  }
  .navbar-expand-lg .navbar-collapse.collapse.show {
    display: flex !important;
  }
  .navbar-nav {
    display: block !important;
    width: 100%;
  }
  .search-box:focus {
    width: 100% !important;
    margin: 0px;
  }
  .header {
    padding: 0 !important;
    justify-content: start;
    overflow-y: auto !important;
    .navbar {
      width: 100%;
      overflow-y: auto !important;
    }
    .collapse {
      padding-top: 20px;
    }
    .navbar-nav .nav-item a {
      color: black !important; /* Ensure good contrast on smaller screens */
    }
    .navbar {
      background-color: $main-color !important;
      overflow-y: auto;
    }
    .search {
      padding: 0px !important;
    }
  }
}

/* Hide the toggler button on larger screens */
@media (min-width: 1200px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }

  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
  }
}

@media only screen and (max-width: 1235px) {
  .navbar-brand {
    margin-right: 6px !important;
  }
}
@media only screen and (max-width: 1060px) {
  .content {
    padding: 0px;
  }
}

@media only screen and (max-width: 992px) {
  .header {
    padding: 0 !important;
    justify-content: start;
    overflow-y: auto !important;
    .navbar {
      width: 100%;
      overflow-y: auto !important;
    }
    .collapse {
      padding-top: 20px;
    }
    .navbar-nav .nav-item a {
      color: black !important; /* Ensure good contrast on smaller screens */
    }
    .navbar {
      background-color: $main-color !important;
      overflow-y: auto;
    }
    .search {
      padding: 0px !important;
    }
  }
}
@media only screen and (max-width: 490px) {
  .search-box:focus {
    width: 200px !important;
  }
}
