<div class="announcement content">
  <h1 class="title py-3">Elanlar</h1>
  <div class="w-100 row d-flex justify-content-start p-0 m-0">
    <div
      class="my-card col-lg-4 col-md-6 col-sm-12 col-12 py-2 d-flex justify-content-between"
      *ngFor="let announce of announcements"
    >
      <div class="w-100">
        <mat-card class="example-card">
          <img mat-card-image [src]="announce.img" [alt]="announce.img" />
          <mat-card-content class="pt-3 px-0">
            <span>{{ announce.date }}</span>
            <h3 class="m-0">{{ announce.title }}</h3>
            <p>
              {{ announce.description }}
            </p>
            <a
            [routerLink]="['/announcement-detail', announce.id]"
            [queryParams]="{ from: 'announcements' }"
          >
              <div class="py-3">
                <p-button label="Daha ətraflı" /></div
            ></a>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
