<div class="success-detail content">
  <a routerLink="/successes">
    <div class="title">
      <i class="fa-solid fa-arrow-left pe-3"></i> {{ title }}
    </div>
  </a>
  <app-success-detail-carousel></app-success-detail-carousel>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
    explicabo voluptates, deserunt laboriosam veniam repellendus! Saepe
    distinctio itaque non dignissimos libero facere quas harum ab voluptatibus
    nam, voluptatem eius laudantium. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Ipsam cum non debitis illo ex id, quibusdam ullam vitae
    accusamus officia aut necessitatibus molestias, ipsum explicabo nostrum
    itaque atque sapiente error! Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Vero impedit atque, laboriosam recusandae officia dolorem
    cumque qui aspernatur fugiat eum accusantium veritatis deleniti molestias
    voluptatem nihil voluptates dignissimos, quaerat necessitatibus!
  </p>
  <div class="success">
    <h1 class="title py-3">Digər uğurlarımız</h1>
    <div class="success-grid">
      <div
        class="my-card"
        *ngFor="let success of success"
      >
        <mat-card class="example-card">
          <img mat-card-image [src]="success.img" [alt]="success.img" />
          <mat-card-content class="pt-3 px-0">
            <span>{{ success.date }}</span>
            <h3 class="m-0">{{ success.title }}</h3>
            <p>{{ success.description }}</p>
            <a [routerLink]="['/success-detail', success.title]">
              <div class="py-3">
                <p-button label="Daha ətraflı"></p-button>
              </div>
            </a>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
