@import "../../../../../styles/variables.scss";

.content{
    padding: 0px 12vw;
}
.doctor-carousel {
    width: 100%;
    background-image: url(../../../../../assets/images/DoctorBg.svg);
    background-size:cover;
    background-repeat: no-repeat;
  .title {
    text-align: center;
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: white;
  }
  /* CSS */
  ::ng-deep .p-carousel-indicators {
    display: none;
  }
  ::ng-deep .p-carousel-items-content{
    display: flex;
    justify-content: center;
    padding: 0px 10px;
    margin: 0px 10vw;
  }

  ::ng-deep .p-carousel {
    .carousel-title {
      font-size: 20px;
      font-family: "Inter", sans-serif;
      font-weight: bold;
      color: white;
    }
    .desc {
      font-size: 14px;
      font-family: "Inter", sans-serif;
    }
  }
  ::ng-deep  .p-carousel .p-carousel-content{
    color: white;
    display: flex;
    justify-content: center;
    img{
      border-radius: 20px;
    }
  }
  ::ng-deep .p-carousel .p-carousel-content .p-carousel-prev {
    color: white!important;
    border: 1px solid white;
    border-radius: 50%;
    padding: 25px;
    margin-left: 10px;
  }
  ::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
    color: white!important;
    border: 1px solid white;
    border-radius: 50%;
    padding: 25px;
    margin-right: 10px;
  }

  ::ng-deep .p-carousel .p-carousel-content .p-carousel-prev:enabled:hover,
  ::ng-deep .p-carousel .p-carousel-content .p-carousel-next:enabled:hover {
    color: white;
    border-color: white;
    background: transparent;
    cursor: pointer;
  }
}
