<div class="sidebar">
  <div class="d-flex flex-column flex-shrink-0" style="width: 4.5rem">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a
          href="#"
          class="nav-link py-3"
          aria-current="page"
          title=""
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-original-title="Home"
        >
          <div class="sosial-icon">
            <img src="../../../assets/images/facebook.svg" alt="" />
          </div>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="nav-link py-3"
          title=""
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-original-title="Dashboard"
        >
          <div class="sosial-icon">
            <img src="../../../assets/images/twitter.svg" alt="" />
          </div>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="nav-link py-3"
          title=""
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-original-title="Orders"
        >
          <div class="sosial-icon">
            <img src="../../../assets/images/linkedin.svg" alt="" />
          </div>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="nav-link py-3"
          title=""
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-original-title="Products"
        >
          <div class="sosial-icon">
            <img src="../../../assets/images/instagram.svg" alt="" />
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
