<div class="about-carousel pt-4">
  <p-carousel
    class="px-5 custom-carousel"
    [value]="about"
    [autoplayInterval]="2000"
    [numVisible]="3"
    [numScroll]="1"
  >
    <ng-template let-product pTemplate="item">
      <div class="border-1 surface-border border-round my-2 pt-5 pb-2">
        <div class="mb-3">
          <div class="relative mx-auto">
            <img
              src="{{ product.image }}"
              class="w-full border-round"
            />
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
