@import "../../../styles/variables.scss";

.jumbotron {
  height: 768px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: white;
  font-family: "Inter", sans-serif;
  line-height: 70px;
  position: relative;
  .overlay{
    width: 100%;
    height: 768px;
    position: absolute;
    top: 0px;
    left: 0px;
    background:rgba(0,0,0,0.5);
  }
  p {
    font-size: 2em;
  }
  h1 {
    font-size: 70px;
    font-weight: bold;
  }
  .jumb-text {
    margin-top: 250px !important;
  }
  .info-box {
    background: linear-gradient(270deg, #065a93, #0a7dca);
    border-radius: 24px;
    line-height: 25px;
    margin-top: 150px;
    p {
      font-size: 16px;
    }
    i {
      font-size: 2em;
    }
    a {
      color: white;
      text-decoration: none;
      text-align: start;
    }
  }
}

.content {
  padding: 0px 12vw;
}

.title {
  text-align: center;
  font-size: 48px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.quote {
  img {
    border-radius: 50%;
  }
  .quote-text {
    p {
      font-size: 18px;
      text-align: center;
      font-family: "Inter", sans-serif;
    }
  }
}

.news {
  ::ng-deep .mat-mdc-card {
    min-height: 480px;
    border: none;
    box-shadow: none;
    img {
      max-width: 460px !important;
      max-height: 315px !important;
      border-radius: 32px;
    }
    padding: 0px;
    font-family: "Inter", sans-serif;
    span {
      color: $date-color;
      font-size: 12px;
    }
    h3 {
      padding: 0px;
      font-size: 18px;
      font-family: "Inter", sans-serif;
      color: $news-text-color;
      font-weight: 500;
      line-height: 25px;
      min-height: 60px;
    }
    p {
      font-size: 14px;
      font-family: "Inter", sans-serif;
      color: $news-text-color;
    }
  }
  // .title-desc {
  //   padding: 0px 350px;
  // }
}

::ng-deep .p-button {
  padding: 15px 55px;
  border: 1px solid $border-color;
  background-color: transparent;
  color: $news-text-color;
  font-size: 16px;
  border-radius: 30px;
  font-family: "Inter", sans-serif;
}

.banners {
  .banner-box {
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: white;
    background: linear-gradient(270deg, #065a93, #0a7dca);
    height: 100px;
    padding: 0px 20px !important;
    border-radius: 8px;
    .banner-img {
      width: 121px;
      height: 100px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}


@media only screen and (max-width: 992px) {
  .jumbotron {
    h1 {
      line-height: 30px;
      font-size: 50px;
    }
    p {
      font-size: 30px;
    }
    .jumb-text {
      margin-top: 200px !important;
    }
    .info-box {
      p {
        font-size: 14px;
      }
      i {
        font-size: 1.5em;
      }
    }
  }
}

@media only screen and (max-width: 772px) {
  .jumbotron {
    h1 {
      font-size: 35px;
      line-height: 20px;
    }
    p {
      font-size: 20px;
    }
    .jumb-text {
      margin-top: 100px !important;
    }
    .info-box {
      p {
        font-size: 12px;
      }
      i {
        font-size: 1.2em;
      }
    }
  }
  .quote {
    align-items: center !important;
    .IA,
    .HA {
      justify-content: center !important;
    }
    .quote-text {
      padding: 50px 0px;
    }
  }
  .news{
    ::ng-deep .mat-mdc-card img{
      max-width: 100% !important;
      max-height: 100% !important;
    }
    ::ng-deep .mat-mdc-card {
      min-height: 400px;
    }
  }
}

@media only screen and (max-width: 490px) {
  .jumbotron {
    line-height: 20px;
    h1 {
      font-size: 30px;
      line-height: 30px;
    }
    p {
      font-size: 16px;
    }
    .jumb-text {
      margin-top: 80px !important;
    }
    .info-box {
      p {
        font-size: 10px;
      }
      i {
        font-size: 1em;
      }
    }
  }
}
