<!--Jumbotron-->
<div
  class="jumbotron d-flex flex-column align-items-center justify-content-center"
>
  <div class="w-100 content">
    <div class="jumb-text p-0 m-0">
      <p>Sağlamlığınızın qayğısına birlikdə qalaq</p>
      <h1>Sağlamlığınızın mərkəzi</h1>
    </div>
    <div class="container-fluid info p-0">
      <div class="row info-box py-4 mx-0">
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-center">
          <div class="d-flex">
            <div class="d-flex align-items-center px-3">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="d-flex align-items-center px-1 m-0">
              <p class="m-0">
                AZ1073, Bakı şəhəri, M.Müşfiq küçəsi, 501-ci məhəllə
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 d-flex align-items-center">
          <div class="d-flex">
            <div class="d-flex align-items-center px-3">
              <i class="fa-solid fa-phone"></i>
            </div>
            <div class="d-flex flex-column justify-content-center px-1 m-0">
              <p class="m-0">+994 12 512 00 61</p>
              <a href="mailto:info@fhn.gov.az">info&#64;fhn.gov.az</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 d-flex align-items-center">
          <div class="d-flex">
            <div class="d-flex align-items-center px-3">
              <i class="fa-solid fa-flask"></i>
            </div>
            <div class="d-flex align-items-center px-1 m-0">
              <p class="m-0">Onlayn Laboratoriya</p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 d-flex align-items-center">
          <div class="d-flex">
            <div class="d-flex align-items-center px-3">
              <i class="fa-solid fa-clock"></i>
            </div>
            <div class="d-flex align-items-center px-1 m-0">
              <p class="m-0">24/7 Xidmət</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <!--Quote-->
  <div class="quote container-fluid py-5 m-0 px-0">
    <div class="quotes row py-3">
      <div class="HA col-lg-3 col-md-3 col-sm-12 d-flex justify-content-start">
        <div>
          <img src="../../../assets/images/HA.svg" alt="" />
        </div>
      </div>
      <div
        class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-center"
      >
        <div
          class="d-flex flex-column align-items-center justify-content-center p-0"
        >
          <div class="quote-text py-3 px-0">
            <p>
              Səhiyyə bizim üçün, hər bir cəmiyyət və dövlət üçün çox lazımlı
              sahədir.
            </p>
          </div>
          <div>
            <img src="../../../assets/images/imza.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="IA col-lg-3 col-md-3 col-sm-12 d-flex justify-content-end">
        <div>
          <img src="../../../assets/images/IA.svg" alt="" />
        </div>
      </div>
    </div>
  </div>

  <p-divider />

  <!--Section Carousel-->
  <app-sections-carousel></app-sections-carousel>
</div>
<!--Doctors Carousel-->
<app-doctors-carousel></app-doctors-carousel>

<div class="content">
  <!--News-->
  <div class="news container-fluid p-0">
    <h1 class="title pt-5">Xəbərlər</h1>
    <div class="title-desc">
      <p class="text-center pb-4 px-5">
        Ölkəmizdə və dünyada baş verən ən son tibb xəbərləri və FHN Hospitalında
        baş verən hadisələri Xəbərlər bölməsindən oxuyub paylaşa bilərsiniz.
      </p>
    </div>
    <div class="w-100 row d-flex justify-content-between p-0 m-0">
      <div
        class="my-card col-lg-4 col-md-6 col-sm-12 col-12 py-2 d-flex justify-content-between "
        *ngFor="let news of news"
      >
        <div class="w-100">
          <mat-card class="example-card">
            <img mat-card-image [src]="news.img" [alt]="news.img" />
            <mat-card-content class="pt-3 px-0">
              <span>{{ news.date }}</span>
              <h3 class="m-0">{{ news.title }}</h3>
              <p>
                {{ news.description }}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center py-3">
      <p-button label="Bütün xəbərlər" />
    </div>
  </div>

  <!--Banners-->
  <div class="container-fluid banners py-5">
    <div class="row">
      <div class="col-lg-3 mb-2">
        <div
          class="banner-box d-flex justify-content-between align-items-center"
        >
          <p class="p-0 m-0">Heydər Əliyev Fondu</p>
          <div class="banner-img">
            <img src="../../../assets/images/HAFund.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div
          class="banner-box d-flex justify-content-between align-items-center"
        >
          <p class="p-0 m-0">Mehriban Əliyeva</p>
          <div class="banner-img">
            <img src="../../../assets/images/MehribanAliyeva.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div
          class="banner-box d-flex justify-content-between align-items-center"
        >
          <p class="p-0 m-0">İlham Əliyev</p>
          <div class="banner-img">
            <img src="../../../assets/images/IA.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div
          class="banner-box d-flex justify-content-between align-items-center"
        >
          <p class="p-0 m-0">Heydər Əliyev</p>
          <div class="banner-img">
            <img src="../../../assets/images/HA.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Testimonials-->
<app-testimonials-carousel></app-testimonials-carousel>

<div class="content">
  <!--Announcement-->
  <app-announcement-carousel></app-announcement-carousel>
  <div class="d-flex justify-content-center pb-5 mb-3">
    <p-button label="Bütün elanlar" />
  </div>
</div>
