<div class="call">
  <div class="d-flex flex-column flex-shrink-0" style="width: 5.5rem">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a
          href="#"
          class="nav-link py-3"
          aria-current="page"
          title=""
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-original-title="Home"
        >
          <div class="sosial-icon d-flex justify-content-start align-items-center">
            <i class="fa-solid fa-phone"></i> <b class="ps-2">812</b>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
