<div class="section-detail content">
  <a routerLink="/sections">
    <div class="title">
      <i class="fa-solid fa-arrow-left pe-3"></i> {{ title }}
    </div>
  </a>
  <app-section-detail-carousel></app-section-detail-carousel>
  <p class="sec-desc">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non tempora cumque
    inventore vitae explicabo numquam voluptas maiores praesentium autem,
    quaerat repudiandae nisi ad corrupti earum odit magni ipsa quidem obcaecati.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga accusantium
    iusto asperiores dolorum distinctio itaque voluptas minus rerum cum, quasi
    eligendi vitae repellat. Labore nobis voluptatem ad amet voluptate rem! Fuga
    accusantium iusto asperiores dolorum distinctio itaque voluptas minus rerum
    cum, quasi eligendi vitae repellat. Labore nobis voluptatem ad amet
    voluptate rem! Non tempora cumque inventore vitae explicabo numquam voluptas
    maiores praesentium autem.
  </p>

  <div class="doctors">
    <h1 class="title py-3">Həkimlərimiz</h1>
    <div class="doctors-grid">
      <div class="my-card" *ngFor="let doc of doctors">
        <mat-card class="example-card">
          <img mat-card-image [src]="doc.img" [alt]="doc.img" />
          <mat-card-content class="pt-3 px-0">
            <p>{{ doc.position }}</p>
            <h3 class="m-0">{{ doc.name}}</h3>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <a routerLink="/doctors">
    <div class="d-flex justify-content-center pb-5">
      <p-button label="Bütün həkimlər"></p-button>
    </div>
  </a>
</div>
