@import "../../../styles/variables.scss";

.content {
  padding: 0px 12vw;
  // @media (max-width: 1200px) {
  //   padding: 0px 5vw;
  // }

  // @media (max-width: 768px) {
  //   padding: 0px 3vw;
  // }
}

.section-detail {
  font-size: 28px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: $title-color;

  .title {
    i {
      font-size: 26px;
    }
  }

  a {
    text-decoration: none !important;
    color: $title-color;
  }

  p {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 30px;
  }

  .doctors-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    .my-card {
      padding: 0;
      .example-card {
        min-height: 300px !important;
        border: none;
        box-shadow: none;

        img {
          width: 100%;
          height: auto; /* Maintain aspect ratio */
          max-height: 415px; /* Adjust max-height if needed */
          border-radius: 32px;
          object-fit: cover; /* Ensure images cover the entire container */
        }

        span {
          color: $date-color;
          font-size: 12px;
        }

        h3 {
          font-size: 18px;
          color: $news-text-color;
          font-weight: 500;
          line-height: 25px;
          min-height: 60px;
        }

        p {
          font-size: 14px;
          color: $news-text-color;
        }
      }
    }
    ::ng-deep .p-button {
      padding: 10px 25px;
      border: 1px solid $border-color;
      background-color: transparent;
      color: $news-text-color;
      font-size: 16px;
      border-radius: 10px;
    }
  }

  ::ng-deep .p-button {
    padding: 10px 25px;
    border: 1px solid $border-color;
    background-color: transparent;
    color: $news-text-color;
    font-size: 16px;
    border-radius: 10px;
  }

  @media (max-width: 1200px) {
    .doctors-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 768px) {
    .doctors-grid {
      grid-template-columns: 1fr;
    }
  }
}
