<div class="w-100 container-fluid footer content">
  <div class="w-100 row m-0">
    <div class="col-lg-1 d-flex align-items-start px-0">
      <img src="../../../assets/images/FHNLogoWhite.svg" alt="" />
    </div>
    <div class="col-lg-2 p-0">
      <ul class="first">
        <li>Haqqımızda</li>
        <li>Şöbələr</li>
        <li>Həkimlər</li>
      </ul>
    </div>
    <div class="col-lg-2 p-0">
      <ul>
        <li>Xəbərlər</li>
        <li>Uğurlarımız</li>
        <li>Maarifləndirmə</li>
        <li>Xəbər</li>
        <li>Elanlar</li>
      </ul>
    </div>
    <div class="col-lg-2 p-0">
      <ul>
        <li>Qalereya</li>
        <li>Foto</li>
        <li>Video</li>
      </ul>
    </div>
    <div class="col-lg-2 p-0">
      <ul>
        <li>Onlayn laboratoriya</li>
        <li>Əlaqə</li>
      </ul>
    </div>
    <div class="col-lg-3 p-0">
      <ul class="address">
        <li>Əlaqə</li>
        <li>
          <i class="fa-solid fa-location-dot"></i> AZ1073, Bakı şəhəri, M.Müşfiq
          küçəsi, 501-ci məhəllə
        </li>
        <li><i class="fa-solid fa-phone"></i> +994 12 512 00 61</li>
        <li><i class="fa-solid fa-envelope"></i> info&#64;fhn.gov.az</li>
      </ul>
    </div>
  </div>
  <div class="w-100 row m-0 d-flex justify-content-between align-items-center">
    <div class="col-lg-7 copyright py-0">
      © {{ currentYear }} Azərbaycan Respublikası Fövqəladə Hallar Nazirliyi. Bütün hüquqlar
      qorunur.
    </div>
    <div class="col-lg-5 p-0">
      <ul class="d-flex justify-content-end nav-item">
        <li>
          <a
            href="#"
            class="nav-link py-3"
            aria-current="page"
            title=""
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            data-bs-original-title="Home"
          >
            <div class="sosial-icon">
              <img src="../../../assets/images/facebook.svg" alt="" />
            </div>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="nav-link py-3"
            title=""
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            data-bs-original-title="Dashboard"
          >
            <div class="sosial-icon">
              <img src="../../../assets/images/twitter.svg" alt="" />
            </div>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="nav-link py-3"
            title=""
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            data-bs-original-title="Orders"
          >
            <div class="sosial-icon">
              <img src="../../../assets/images/linkedin.svg" alt="" />
            </div>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="nav-link py-3"
            title=""
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            data-bs-original-title="Products"
          >
            <div class="sosial-icon">
              <img src="../../../assets/images/instagram.svg" alt="" />
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
