@import "../../../styles/variables.scss";

.content {
  padding: 50px 12vw 0px 12vw;
}
.footer {
  background-color: $main-color;
  color: white;
  font-family: "Inter", sans-serif;
  img {
    width: 80px;
    height: 80px;
  }
  .first li {
    font-size: 16px !important;
    font-weight: bold;
    &:first-child {
      padding-bottom: 0px;
      &:hover {
        text-decoration: underline;
      }
    }
    &:hover {
      text-decoration: underline;
    }
  }
  .address li {
    &:hover {
      text-decoration: none;
    }
  }
  ul {
    list-style-type: none !important;
    li:first-child {
      font-size: 16px !important;
      padding-bottom: 20px;
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }
    li {
      font-size: 14px !important;
      line-height: 30px;
      padding: 0px;
      font-family: "Inter", sans-serif;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .nav-item li {
    margin-left: 10px;
  }
  .nav-link {
    border: none;
    .sosial-icon {
      width: 35px;
      height: 35px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

/* Hide the toggler button on larger screens */
@media only screen and (max-width: 992px) {
  ul {
    padding-left: 10px !important;
    margin: 0px;
  }
  .first {
    padding-top: 10px;
  }
  .nav-item {
    padding: 0px !important;
    justify-content: flex-start !important;
    li {
      padding: 0px;
    }
  }
  .copyright {
    padding-left: 10px;
  }
  .footer {
    padding: 40px 15px 0px 15px;
  }
}
