<div class="w-100 container-fluid footer content">
  <div class="w-100 row m-0">
    <div class="col-lg-1 d-flex align-items-start px-0">
      <img [src]="footerInfo.logoUrl" alt="" />
    </div>
    <div class="col-lg-2 p-0">
      <ul class="first">
        <li routerLink="about">{{Language.about}}</li>
        <li routerLink="sections">{{Language.departments}}</li>
        <li routerLink="doctors" >{{Language.doctors}}</li>
      </ul>
    </div>
    <div class="col-lg-2 p-0">
      <ul>
        <li>{{Language.news}}</li>
        <li routerLink="successes">{{Language.achievements}}</li>
        <li routerLink="information">{{Language.acknowledgements}}</li>
        <li routerLink="news">{{Language.newsDrop}}</li>
        <li routerLink="announcements">{{Language.advertisements}}</li>
      </ul>
    </div>
    <div class="col-lg-2 p-0">
      <ul>
        <li>{{Language.gallery}}</li>
        <li routerLink="gellery">{{Language.photo}}</li>
        <li routerLink="video">{{Language.video}}</li>
      </ul>
    </div>
    <div class="col-lg-2 p-0">
      <ul>
        <li>{{Language.onlineLaboratory}}</li>
        <li routerLink="contact">{{Language.contact}}</li>
      </ul>
    </div>
    <div class="col-lg-3 p-0">
      <ul class="address">
        <li>{{Language.contact}}</li>
        <li>
          <i class="fa-solid fa-location-dot"></i> {{contactInfo.address}}
        </li>
        <li><i class="fa-solid fa-phone"></i> {{contactInfo.phoneNumber}}</li>
        <li><i class="fa-solid fa-envelope"></i> {{contactInfo.emailAddress}}</li>
      </ul>
    </div>
  </div>
  <div class="w-100 row m-0 d-flex justify-content-between align-items-center">
    <div class="col-lg-7 copyright py-0">
      © {{ currentYear }} {{footerInfo.text}}
    </div>
    <div class="col-lg-5 p-0">
      <ul class="d-flex justify-content-end nav-item">
        <li>
          <a
            [href]="contactInfo.facebookUrl"
            class="nav-link py-3"
            aria-current="page"
            title=""
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            data-bs-original-title="Home"
          >
            <div class="sosial-icon">
              <img src="../../../assets/images/facebook.svg" alt="" />
            </div>
          </a>
        </li>
        <li>
          <a
          [href]="contactInfo.twitterUrl"
            class="nav-link py-3"
            title=""
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            data-bs-original-title="Dashboard"
          >
            <div class="sosial-icon">
              <img src="../../../assets/images/twitter.svg" alt="" />
            </div>
          </a>
        </li>
        <li>
          <a
          [href]="contactInfo.linkendUrl"
            class="nav-link py-3"
            title=""
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            data-bs-original-title="Orders"
          >
            <div class="sosial-icon">
              <img src="../../../assets/images/linkedin.svg" alt="" />
            </div>
          </a>
        </li>
        <li>
          <a
          [href]="contactInfo.instagramUrl"
            class="nav-link py-3"
            title=""
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            data-bs-original-title="Products"
          >
            <div class="sosial-icon">
              <img src="../../../assets/images/instagram.svg" alt="" />
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
