@import "../../../../../styles/variables.scss";

.content {
  padding: 0px 12vw;
}
.testimonials-carousel {
  background-image: url(../../../../../assets/images/Testimonials.svg);
  background-size: cover;
  background-repeat: no-repeat;
  ::ng-deep .p-carousel-indicators {
    display: none;
  }
  ::ng-deep .p-carousel {
    color: white;
    ::ng-deep .p-carousel-item {
      margin: 10px;
      padding: 0px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid #387ba9;
      border-radius: 54px;
    }
    .desc {
      font-size: 14px;
      font-family: "Inter", sans-serif;
      letter-spacing: 5px;
      text-transform: uppercase;
      opacity: 0.7;
    }
    .carousel-title {
      font-family: "Inter", sans-serif;
      font-size: 14px;
    }
    span {
      font-size: 12px;
      opacity: 0.7;
      letter-spacing: 3px;
      font-weight: bold;
    }
  }
  ::ng-deep .p-carousel .p-carousel-content .p-carousel-prev {
    color: white !important;
    border: 1px solid white;
    border-radius: 50%;
    padding: 25px;
  }
  ::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
    color: white !important;
    border: 1px solid white;
    border-radius: 50%;
    padding: 25px;
  }

  ::ng-deep .p-carousel .p-carousel-content .p-carousel-prev:enabled:hover,
  ::ng-deep .p-carousel .p-carousel-content .p-carousel-next:enabled:hover {
    color: white;
    border-color: white;
    background: transparent;
    cursor: pointer;
  }
}
